In [ ]:
import pandas as pd
from datetime import date

path = "../data/processed_data.csv"
data = pd.read_csv(path)
data["date"] = pd.to_datetime(data["date"])  # Convert column to datetime

#### 10 top most played aritsts overall and for the current month and year.

In [ ]:
top_num = 10  # How many top artists to diplay
month = date.today().month  # Displays the data for this month (1-12)
year = date.today().year  # Displays the data for this year
label_month = f"Data for {month:02}-{year}"


def get_top_artists(df, month=None, year=None, label=""):
    # If month and year are provided, filter the data
    if month is not None and year is not None:
        df = df[(df["date"].dt.month == month) & (df["date"].dt.year == year)]

    # Count how many times the artists are appearing
    df = df.value_counts(subset=["artist"], ascending=False).reset_index(
        name="play_count")
    df.index = df.index + 1  # Change the indexing to start at 1

    df.columns = pd.MultiIndex.from_product([[label], df.columns])

    return df


top_artists = get_top_artists(data, label="All data")
top_artists_month = get_top_artists(data, month, year, label=label_month)

merged = pd.concat([top_artists, top_artists_month], axis=1).fillna(0)
merged[(label_month, "play_count")] = merged[(
    label_month, "play_count")].astype(int)  # Convert to int
merged.head(top_num)  # Display top played artists

             All data              Data for 04-2025
               artist play_count             artist play_count
1        Taylor Swift        439       Taylor Swift         48
2   Sabrina Carpenter        163     Olivia Rodrigo         42
3     Dawid Podsiadło         86          boygenius         28
4      Olivia Rodrigo         66  Sabrina Carpenter         24
5            Paramore         59              Lorde         21
6      Taco Hemingway         51           Paramore         15
7                 SZA         47    Dawid Podsiadło         12
8       Chappell Roan         46         Lucy Dacus         11
9           boygenius         45      Chappell Roan          7
10       Lana Del Rey         42       Lana Del Rey          7

#### 10 top most played songs overall and for the current month and year.

In [ ]:
top_num = 10  # How many top songs to diplay
month = date.today().month  # Displays the data for this month (1-12)
year = date.today().year  # Displays the data for this year
label_month = f"Data for {month:02}-{year}"


def get_top_songs(df, month=None, year=None, label=""):
    # If month and year are provided, filter the data
    if month is not None and year is not None:
        df = df[(df["date"].dt.month == month) & (df["date"].dt.year == year)]

    # Count how many times the artists are appearing
    df = df.value_counts(subset=["title", "artist"],
                         ascending=False).reset_index(name="play_count")
    df.index = df.index + 1  # Change the indexing to start at 1

    df.columns = pd.MultiIndex.from_product([[label], df.columns])

    return df


top_songs = get_top_songs(data, label="All data")
top_songs_month = get_top_songs(data, month, year, label=label_month)

merged = pd.concat([top_songs, top_songs_month], axis=1).fillna(0)
merged[(label_month, "play_count")] = merged[(
    label_month, "play_count")].astype(int)  # Convert to int
merged.head(top_num)  # Display top played songs

                                             All data                     \
                                                title             artist
1                                                Juno  Sabrina Carpenter
2                                          15 Minutes  Sabrina Carpenter
3                                    My Kink Is Karma      Chappell Roan
4                                          Busy Woman  Sabrina Carpenter
5                     The Smallest Man Who Ever Lived       Taylor Swift
6   Now That We Don't Talk (Taylor's Version) (Fro...       Taylor Swift
7                                 That's What You Get           Paramore
8                                         Don’t Smile  Sabrina Carpenter
9   Suburban Legends (Taylor's Version) (From The ...       Taylor Swift
10                              Fresh Out The Slammer       Taylor Swift

                                                Data for 04-2025  \
   play_count                                              title
1          12                                         Black Hole
2          11                                  Not Strong Enough
3           9                                That's What You Get
4           9                                                $20
5           9  Can’t Catch Me Now - from The Hunger Games: Th...
6           9                                         California
7           8                              Feels Like Loneliness
8           8                                       All I Wanted
9           8                                        Hot & Heavy
10          8                                           Dominoes


               artist play_count
1           boygenius          4
2           boygenius          4
3            Paramore          3
4           boygenius          2
5      Olivia Rodrigo          2
6       Chappell Roan          2
7   Sabrina Carpenter          2
8            Paramore          2
9          Lucy Dacus          2
10              Lorde          2