In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

path = "../data/data.csv"
data = pd.read_csv(path)
data["date"] = pd.to_datetime(data["date"])  # Convert column to datetime

In [34]:
top_num = 10  # How many top artists to diplay

# Count how many times the artists are appearing
top_artists = data.value_counts(subset=["artist"], ascending=False).reset_index(name="play_count")
top_artists.index = top_artists.index + 1  # Change the indexing to start at 1

# Display top played artists
top_artists.head(top_num)

               artist  play_count
1        Taylor Swift         352
2   Sabrina Carpenter         107
3     Dawid Podsiadło          74
4      Taco Hemingway          50
5                 SZA          46
6            Paramore          44
7       Rina Sawayama          42
8         Drum & Lace          34
9        Lana Del Rey          31
10      Chappell Roan          30

In [33]:
top_num = 10  # How many top songs to diplay

# Count how many times the songs are appearing
top_songs = data.value_counts(subset=["title", "artist"], ascending=False).reset_index(name="play_count")
top_songs.index = top_songs.index + 1  # Change the indexing to start at 1

# Display top played songs
top_songs.head(top_num)

,title,artist,play_count
1,Juno,Sabrina Carpenter,9
2,15 Minutes,Sabrina Carpenter,9
3,Now That We Don't Talk (Taylor's Version) (Fro...,Taylor Swift,8
4,Busy Woman,Sabrina Carpenter,7
5,Don’t Smile,Sabrina Carpenter,7
6,My Kink Is Karma,Chappell Roan,7
7,Suburban Legends (Taylor's Version) (From The ...,Taylor Swift,7
8,The Smallest Man Who Ever Lived,Taylor Swift,6
9,Pastempomat,Dawid Podsiadło,6
10,The Great War,Taylor Swift,6